<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="icon" type="image/png" href="images/favicon.png">
<title>Oripoto</title>
</head>

<body>
<div class="wrap">

<div class="sidebar">
	<br>

	<a href="comix.html">
	<img src="images/menu-comix.png" alt="comix" class="sidebar-img pixelated"><br>
	</a>

	<a href="design.html">
	<img src="images/menu-design.png" alt="design" class="sidebar-img pixelated"><br>
	</a>

	<a href="storyboards.html">
	<img src="images/menu-storyboards.png" alt="storyboards" class="sidebar-img pixelated">
	</a>

	<br>
	<br>
	<a href="index.html">
	<img src="images/menu-contact.png" alt="contact" class="sidebar-img pixelated"><br>
	</a>
</div>

{{ content }}

</div>

</body>
</html>
